<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="7.0.1" targetFramework="monoandroid80" />
  <package id="AndHUD" version="1.2.0" targetFramework="monoandroid80" />
  <package id="Com.Airbnb.Android.Lottie" version="2.6.0" targetFramework="monoandroid81" />
  <package id="Com.Airbnb.Xamarin.Forms.Lottie" version="2.6.0" targetFramework="monoandroid81" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="monoandroid80" />
  <package id="NETStandard.Library" version="2.0.1" targetFramework="monoandroid80" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="monoandroid80" />
  <package id="Plugin.CurrentActivity" version="1.0.1" targetFramework="monoandroid80" />
  <package id="Plugin.Notifications" version="5.0.0-beta3" targetFramework="monoandroid80" />
  <package id="Rg.Plugins.Popup" version="1.1.4.168" targetFramework="monoandroid80" />
  <package id="SkiaSharp" version="1.60.3" targetFramework="monoandroid80" />
  <package id="SkiaSharp.Views" version="1.60.3" targetFramework="monoandroid80" />
  <package id="SkiaSharp.Views.Forms" version="1.60.3" targetFramework="monoandroid80" />
  <package id="sqlite-net-pcl" version="1.5.231" targetFramework="monoandroid80" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.11" targetFramework="monoandroid80" />
  <package id="SQLitePCLRaw.core" version="1.1.11" targetFramework="monoandroid80" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.android" version="1.1.11" targetFramework="monoandroid80" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.android" version="1.1.11" targetFramework="monoandroid80" />
  <package id="Syncfusion.Licensing" version="16.3.0.21" targetFramework="monoandroid80" />
  <package id="Syncfusion.Xamarin.Core" version="16.3.0.21" targetFramework="monoandroid80" />
  <package id="Syncfusion.Xamarin.DataSource" version="16.3.0.21" targetFramework="monoandroid80" />
  <package id="Syncfusion.Xamarin.GridCommon" version="16.3.0.21" targetFramework="monoandroid80" />
  <package id="Syncfusion.Xamarin.SfChart" version="16.3.0.21" targetFramework="monoandroid80" />
  <package id="Syncfusion.Xamarin.SfListView" version="16.3.0.21" targetFramework="monoandroid80" />
  <package id="Syncfusion.Xamarin.SfNumericUpDown" version="16.3.0.21" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.SfTabView" version="16.3.0.21" targetFramework="monoandroid80" />
  <package id="Xam.Plugin.DeviceInfo" version="3.1.0.57-beta" targetFramework="monoandroid80" />
  <package id="Xam.Plugins.Vibrate" version="4.0.0.5" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Arch.Core.Common" version="1.0.0" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Arch.Lifecycle.Common" version="1.0.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Lifecycle.Runtime" version="1.0.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.ShortcutBadger" version="1.1.982" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Annotations" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Compat" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Core.UI" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Core.Utils" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Design" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Fragment" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Media.Compat" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Transition" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v4" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.CardView" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.Palette" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Forms" version="3.2.0.871581" targetFramework="monoandroid80" />
</packages>